body {
  background: pink;
}

h1 {
  color: blue;
  fontsize: 3cm;
}

h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
}

.completed {
  font-family: Helvetica;
}

#tasks .completed {
  backgound: #cccccc;
  text-decoration: underline;
}
